# Dependencias de Node.js
node_modules/

# Archivos de registro
logs/
*.log

# Archivos de configuración
.env
.env.local
.env.*.local

# Carpetas de compilación
dist/
out/
build/

# Carpetas específicas de herramientas de desarrollo
.idea/
.vscode/

# Otros
.DS_Store
Thumbs.db